.centertext {
    width: 50vw;
    margin-left: 25vw;
    margin-top: 5vh;
    text-align: center;
    font-size: xx-large;
}

.subheader {
    width: 50vw;
    margin-left: 2vw;
    margin-top: 4vh;
    text-align: left;
    font-size: large;
}

.answertext {
    width: 90vw;
    margin-left: 4vw;
    text-align: left;
    font-size: medium;
}

.normaltext {
    width: 90vw;
    margin-left: 2vw;
    text-align: left;
    font-size: medium;
}