.pagetitle {
    width: 95vw;
    text-align: center;
    margin-top: 5vh;
    font-size: xx-large;
}

.maintext {
    font-size: medium;
    text-align: left;
    margin-top: 2vh;
}

.emaillink {
    color: blue;
}