.titlebox {
    width: 100vw;
    height: 25vh;
    position: relative;
    margin-top: 10vh;
    text-align: center;
}

.jamtitle {
    position: relative;
    font-size: 8vw;
    height: 15vh;
    color: white;
}

.jamdetails {
    font-size: x-large;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.jamdetails2 {
    font-size: x-large;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 7vh;
}

.bg {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    background-color: black;
}

.bgcolorwhite {
    background-color: white;
}

.mobileurlbtn {
    width: 82vw;
}

.bgcarousel {
    margin-top: 10vh;
}

.carouselimg {
    width: auto;
    height: 80vh;
    image-rendering: crisp-edges;
}

.pagetitle {
    font-size: xx-large;
    text-align: center;
    width: 100%;
}

.oauthbtn {
    position: relative;
    width: 100%;
}

.adulttext {
    position: relative;
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

.footerdiv {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 9vh;
    text-align: center;
    background-color: white;
}

.footerpad {
    position: relative;
    height: 15vh;
    margin-top: 0;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.lefttext {
    margin-left: 1vw;
    text-align: left;
}

.righttext {
    margin-right: 1vw;
    text-align: right;
}

.countdownbar {
    width: 100vw;
    height: 5vh;
    background-color: #E34D50;
}

.countdowntext {
    width: 100vw;
    height: 5vh;
    font-size: 1rem;
    text-align: center;
    color: white
}