.titlebox {
    width: 50vw;
    height: 25vh;
    position: relative;
    margin-top: 35vh;
    margin-left: 25vw;
    text-align: center;
}

.jamtitle {
    font-size: 8vw;
    height: 15vh;
    color: white;
}

.jamdetails {
    font-size: x-large;
    color: white;
}

.bgvideo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}