.titlebox {
    width: 100vw;
    height: 25vh;
    position: relative;
    margin-top: 20vh;
    text-align: center;
}

.jamtitle {
    position: relative;
    font-size: 8vw;
    height: 15vh;
    color: white;
}

.jamdetails {
    font-size: x-large;
    color: white;
}

.bgvideo {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.pagetitle {
    font-size: xx-large;
    text-align: center;
    width: 100%;
}

.oauthbtn {
    position: relative;
    width: 100%;
}

.adulttext {
    position: relative;
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

.footerdiv {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 9vh;
    text-align: center;
    background-color: white;
}

.footercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.lefttext {
    margin-left: 2vw;
    text-align: left;
}

.righttext {
    margin-right: 2vw;
    text-align: right;
}