.pagetitle {
    width: 100vw;
    position: relative;
    margin-top: 2vh;
    text-align: center;
    font-size: xx-large;
}

.oauthbtn {
    position: relative;
    margin-left: 25vw;
    width: 50vw;
}

.adulttext {
    position: relative;
    margin-left: 25vw;
    margin-top: 10vh;
    text-align: center;
    width: 50vw;
}