.teamname {
    font-size: xx-large;
}

.ownertext {
    font-size: large;
}

.centeralign { 
    text-align: center;
}

.subheader {
    font-size: x-large;
}

.membername {
    font-size: large;
}

.greencheck {
    color: green;
}

.redx {
    color: red;
}

.lmbtn {
    margin-left: 2vw;
}