.pagetitle {
    position: relative;
    margin-top: 8vh;
    width: 100vw;
    margin-left: 0vw;
    text-align: center;
    font-size: 8vw;
    height: 15vh;
    color: #0d911e;
    text-rendering: optimizeLegibility;
}

.subheader {
    position: relative;
    width: 95vw;
    margin-top: 4vh;
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
    color: #0d911e;
    text-rendering: optimizeLegibility;
    margin-left: 3vw;
}

.text {
    position: relative;
    width: 95vw;
    margin-top: 2vh;
    text-align: left;
    font-size: x-large;
    text-rendering: optimizeLegibility;
    margin-left: 3vw;
}

