.pagetitle {
    position: relative;
    margin-top: 8vh;
    width: 100vw;
    margin-bottom: 12vh;
    text-align: center;
    font-size: max(5vw, 5vh);
    color: #0d911e;
    text-rendering: optimizeLegibility;
}

.subtitle {
    position: relative;
    width: 100vw;
    margin-top: 12vh;
    text-align: center;
    font-size: max(4vw, 4vh);
    color: #0d911e;
    text-rendering: optimizeLegibility;
}

.subheader {
    position: relative;
    width: 98vw;
    margin-left: 2vw;
    margin-top: 4vh;
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
    color: #0d911e;
    text-rendering: optimizeLegibility;
}

.text {
    position: relative;
    width: 95vw;
    margin-left: 5vw;
    margin-top: 2vh;
    text-align: left;
    font-size: x-large;
    text-rendering: optimizeLegibility;
}

.cardtextpadding {
    margin-left: 1vw;
}

.emaillink {
    color: blue;
    text-decoration: underline;
}

.personcard {
    width: 48vw;
    position: relative;
    margin-left: 0.5vw;
    margin-top: 10vh;
}

.cardmiddlepad {
    width: 1vw;
}

.centrecard {
    width: 50vw;
    position: relative;
    margin-top: 5vh;
    margin-left: 25vw;
}

.roundImage {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}