.pagetitle {
    position: relative;
    margin-top: 8vh;
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 12vh;
    text-align: center;
    font-size: 5vw;
    color: #0d911e;
    text-rendering: optimizeLegibility;
}

.subtitle {
    position: relative;
    width: 50vw;
    margin-top: 12vh;
    margin-left: 25vw;
    text-align: center;
    font-size: 3vw;
    color: #0d911e;
    text-rendering: optimizeLegibility;
}

.subheader {
    position: relative;
    width: 90vw;
    margin-top: 4vh;
    margin-left: 20vw;
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
    color: #0d911e;
    text-rendering: optimizeLegibility;
}

.text {
    position: relative;
    width: 50vw;
    margin-top: 2vh;
    text-align: left;
    font-size: x-large;
    text-rendering: optimizeLegibility;
    margin-left: 25vw;
}

.emaillink {
    color: blue;
}

.personcard {
    width: 25vw;
    position: relative;
    margin-top: 10vh;
    margin-left: 18vw;
}

.centrecard {
    width: 25vw;
    position: relative;
    margin-top: 10vh;
    margin-left: 37.5vw;
}

.roundImage {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}