name: Build
run-name: Running test build on ${{ github.actor }}'s deployment
on:
  push:
    branches:
      - master
  pull_request:

jobs:
    Run-Build:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository code
              uses: actions/checkout@v4

            - name: Setup nodejs
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Install dependencies
              run: npm i

            - name: Create env file
              run: |
                touch .env
                printf 'GOOGLE_OAUTH_CLIENT_ID=${{secrets.GOOGLE_OAUTH_CLIENT_ID}}\n' >> .env
                printf 'GOOGLE_OAUTH_CLIENT_SECRET=${{secrets.GOOGLE_OAUTH_CLIENT_SECRET}}\n' >> .env
                printf 'GOOGLE_OAUTH_REDIRECT_URL=${{secrets.GOOGLE_OAUTH_REDIRECT_URL}}\n' >> .env
                printf 'GITHUB_OAUTH_CLIENT_ID=${{secrets.GH_OAUTH_CLIENT_ID}}\n' >> .env
                printf 'GITHUB_OAUTH_CLIENT_SECRET=${{secrets.GH_OAUTH_CLIENT_SECRET}}\n' >> .env
                printf 'GITHUB_OAUTH_REDIRECT_URL=${{secrets.GH_OAUTH_REDIRECT_URL}}\n' >> .env
                printf 'DISCORD_OAUTH_CLIENT_ID=${{secrets.DISCORD_OAUTH_CLIENT_ID}}\n' >> .env
                printf 'DISCORD_OAUTH_CLIENT_SECRET=${{secrets.DISCORD_OAUTH_CLIENT_SECRET}}\n' >> .env
                printf 'DISCORD_OAUTH_REDIRECT_URL=${{secrets.DISCORD_OAUTH_REDIRECT_URL}}\n' >> .env
                printf 'DB_ENDPOINT=${{secrets.DB_ENDPOINT}}\n' >> .env
                printf 'DB_KEY=${{secrets.DB_KEY}}\n' >> .env
                printf 'DB_ID=${{secrets.DB_ID}}\n' >> .env
                printf 'USERCONTAINER_ID=${{secrets.USERCONTAINER_ID}}\n' >> .env
                printf 'TEAMSCONTAINER_ID=${{secrets.TEAMSCONTAINER_ID}}\n' >> .env
                printf 'DOMAIN=${{secrets.DOMAIN}}\n' >> .env
                printf 'COOKIE_SECRET=${{secrets.COOKIE_SECRET}}\n' >> .env

            - name: Build site
              run: npm run build
