name: Build
run-name: Running test build on ${{ github.actor }}'s deployment
on:
  push:
    branches:
      - master
  pull_request:

jobs:
    Run-Build:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository code
              uses: actions/checkout@v4

            - name: Setup nodejs
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Install dependencies
              run: npm i

            - name: Create env file
              run: |
                touch .env
                echo GOOGLE_OAUTH_CLIENT_ID=${{secrets.GOOGLE_OAUTH_CLIENT_ID}} >> .env
                echo GOOGLE_OAUTH_CLIENT_SECRET=${{secrets.GOOGLE_OAUTH_CLIENT_SECRET}} >> .env
                echo GOOGLE_OAUTH_REDIRECT_URL=${{secrets.GOOGLE_OAUTH_REDIRECT_URL}} >> .env
                echo GITHUB_OAUTH_CLIENT_ID=${{secrets.GH_OAUTH_CLIENT_ID}} >> .env
                echo GITHUB_OAUTH_CLIENT_SECRET=${{secrets.GH_OAUTH_CLIENT_SECRET}} >> .env
                echo GITHUB_OAUTH_REDIRECT_URL=${{secrets.GH_OAUTH_REDIRECT_URL}} >> .env
                echo DB_ENDPOINT=${{secrets.DB_ENDPOINT}} >> .env
                echo DB_KEY=${{secrets.DB_KEY}} >> .env
                echo DB_ID=${{secrets.DB_ID}} >> .env
                echo USERCONTAINER_ID=${{secrets.USERCONTAINER_ID}} >> .env
                echo DOMAIN=${{secrets.DOMAIN}} >> .env
                echo COOKIE_SECRET=${{secrets.COOKIE_SECRET}} >> .env

            - name: Build site
              run: npm run build
